*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 1200px){

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 46.5px;
    align-items: center;
    background-color: black;
    position: fixed;
}
.left-header{
    display: flex;
    flex-direction: row;
    font-family: Lato, sans-serif;
    font-size: 15px;
    gap: 3px;
}
a{
    outline: none;
    text-decoration: none;
    color: white;
    width: 93.83px;
    height: 46.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover{
    background-color: lightslategray;
}
.search-icon{
    width: 34px;
    height: 35px;
    padding-right: 15px;
    cursor: pointer;
}
.cities-container{
    font-family: Lato, sans-serif;
    background-image: url("https://www.w3schools.com/w3images/chicago.jpg");
    background-size: cover;
    height: 105vh;
}
.cities{
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    top: 660px;
    font-weight: 400;
}
.cities-text{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    position: relative;
    top: 660px;
    font-weight: 400;
}
.main-header{
    font-family:'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
    letter-spacing: 4px;
}
.main-header2{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-family: "Lato", sans-serif;
    margin-top: 20px;
    font-size: 15px;
    color: gray;
}
.main-text{
    display: flex;
    width: 52%;
    height: 135px;
    line-height: 22.5px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 15px;
    font-family: Lato, sans-serif
}
.band-members{
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-top: 42px;
    margin: 20px;
}
.bandmember-container{
    height: 225px;
}
.bandmember-name{
    font-size: 15px;
    font-family: Lato, sans-serif;
    display: flex;
    justify-content: center;
}
.bandmember-image{
    margin-top: 20px;
    width: 153.59px;
    height: 153.59px;
}
main{
    background-color: black;
    height: 115vh;
}
.h2{
    color: white;
    padding-top: 90px;
    
}



.tour-dates-container{
    color: gray;
    background-color: white;
    width: 53%;
    margin: 0 auto;
    margin-top: 40px;
}
.tour-dates-container-items{
    display: flex;
    flex-direction: row;
}
.sold-out{
    background-color: red;
    color: white;
}





.tickets-container{
    display: flex;
    flex-direction: row;
    width: 53%;
    gap: 30px;
    margin: 0 auto;
    margin-top: 90px; 
    font-family: Lato, sans-serif;
}
.tickets-container-item{
    background-color: white;
}
.city-img{
    width: 100%;
}
.city{
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-top:15px;
    padding-left: 20px;
}
.date{
    font-family: Lato, sans-serif;
    padding-left: 20px;
    padding-top:18px;
    font-size: 15px;
    color: lightslategray;
}
.lorum{
    font-family: Lato, sans-serif;
    padding-left: 20px;
    padding-top: 22px;
    font-size: 15px;
}
.buy-tickets{
    background-color: black;
    color: white;
    border-style: none;
    width: 107.7px;
    height: 38.5px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}
.contact-container{
    
}
.h3{
    padding-top: 110px;
}
.contact-container-item{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    align-items: center;
}
.contact-container-item-left{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.contact-container-item-img{
    display: flex;
    flex-direction: column;
    align-items: end;
    align-items: first baseline;
    gap: 7px;
}
.contact-text{
    font-size: 18px;
    font-family: Lato , sans-serif;
}














.map{
    /* width: 100%; */
    filter: grayscale(0.5);
    margin-top: 500px;
}
.soial-media{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    color: lightslategray;
    text-decoration: none;
}

}